*{
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}
html{
    scroll-behavior: smooth;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/background2.jpg);
    background-position: center;
    background-size:cover ;
    background-repeat: no-repeat;
    
}

nav{
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
}

nav img{

    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin:auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color:#fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 45px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px ;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    cursor: pointer;
    
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 0.3s;
}

nav .fa{
    display: none;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right:-200px;
        text-align: left;
        z-index: 2;
        transition: 1s;

    }
    nav .fa{
        display:block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
       
    }
    
   
   

}

.products{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
 }
 h1{
     font-size: 36px;
     font-weight: 600;

 }
 p{
     color: #777;
     font-size: 300;
     font-weight: 300;
     line-height: 22px;
     padding: 10px;
 }
 .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
 }
 .product-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;

 }
 h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
 }
 .product-col:hover{
    box-shadow: 0 0 20px 0px;
 }
 @media(max-width:700px){
    .row{
        flex-direction: column;
    }
 }
 .gotopbtn{
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: #f44336;
    bottom: 40px;
    right: 50px;

    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
    border-radius: 10%;
    
 }
 .gotopbtn:hover{
    box-shadow:0 0 20px 0px ;
 }
 
.header2{
      min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/background1.jpeg);
    background-position: right;
    background-size:cover ;
    background-repeat: no-repeat;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.header2 h1{
    color: white;
    font-size: 32;
    margin-left: 15px;
}
.header p{
    color: 777;
    margin-left: 15;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
 }
.col{
    flex-basis: 32%;
    border-radius:10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    margin-left: 20;
}
.col img{
    width: 70%;

    border-radius: 4%;
    margin-top: 1px;
    
}
.layer{
    background: transparent;
    height: 100%;
    width: 70%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    margin-left: 15%;
    border-radius: 4%;
}
.layer:hover{
    background: rgba(0, 90, 226, 0.7);
}
.layer h3{

    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 20px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
@media(max-width:700px){
    .row{
      display: flex;
     }
 }
/*----testimonials----*/
.testimonials{
   width: 80%;
   margin: auto;
   padding-top: 100px;
   text-align: center;

}
.testimonials-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    margin-top: 1px;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.testimonials img{
    height: 75px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.testimonials p{
    padding: 0;
    font-size: 15px;
}
.testimonials-col h3{
    margin-top: 15px;
    text-align: left;
}
.testimonials-col .fa{
    color: navy;
}
@media(max-width:700px){

.testimonials img{
   
    margin-left: 0px;
    margin-right: 15px;
    border-radius: 50%;
}
}
.lin{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/cafebackground.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;


}
.lin h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}
@media(max-width: 700px){
    .lin h1{
     font-size: 24px;
    }
}
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 800;
}

.footer .fa-question-circle-o{
    font-size: 30px;
    color:  rgb(212, 32, 8);
}

.header3{
    min-height: 5vh;
    width: 100%;
    background-image: linear-gradient(rgb(255, 251, 251),rgba(247, 247, 247, 0.7)),url();
    background-position: center;
    background-size:cover ;
    background-repeat: no-repeat;   
}
.header3itachi{
    min-height: 5vh;
    width: 100%;
    background-image: linear-gradient(rgb(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/snapshot13.png);
    background-position: center;
    background-size:cover ;
    background-repeat: no-repeat;   
}
.header3{
    min-height: 5vh;
    width: 100%;
    background-image: linear-gradient(rgb(255, 251, 251),rgba(247, 247, 247, 0.7)),url();
    background-position: center;
    background-size:cover ;
    background-repeat: no-repeat;   
}
.icons .fa{
    color: black;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
    font-size: 25px;
}
.footerp{
    color: darkslategray;
    font-size: 15;
}
.footer .fa-handshake-o{
    color: rgb(15, 80, 202);
    font-weight: 2000px;
    font-size: 25px;
}
/*--- Contact us page ---*/
.header4{
    min-height: 50vh;
    width: 100%;
    
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/contactBackground.avif);
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
}


.text-box2{
    width: 90%;
    color:#fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-150%);
    text-align: start;
}
.text-box2 h1{
    font-size: 40px;
}
.text-box2 h5{
    margin: 10px 0 40px;
    font-size: 13px ;
    color: #777;
    margin-left: 26px;
}
.text-box2 p{
    margin: 10px 0 40px;
    font-size: 13px ;
    color: #777;
    margin-left: 10px;
}
.map{
    width: 80%;
    margin: auto;
    padding: 10px 0;
}
.map h1{
    text-align: center;
    font-weight: 200;
    padding: 10px 0 10px;
}
.map iframe{
    width: 100%;
}
.contact-us{
width: 80%;
margin: auto;
}
.contact-col{
flex-basis: 48%;
margin-bottom: 30px;
margin-left: 40px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fa{
    font-size:28px ;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight:400;
    padding-top:50px ;
}
@media(max-width: 700px){
    .contact-col div .fa-home{
        font-size:35px ;
        color: #f44336;
        margin: auto;
        margin-left: 2px;
        margin-right: 20px;
    }
    .contact-col div .fa-envelope{
        font-size:26px ;
        color: #f44336;
       margin: auto;
       margin-right: 20px;
    }
    .contact-col div .fa-phone-square{
        font-size:29.5px ;
        color: #f44336;
        margin-left:0px;
        
    }
    .contact-col div p{
        padding: 0;
    }
    .contact-col div h5{
        font-size: 20px;
        margin-bottom: 5px;
        color: #555;
        font-weight:400;
    }

}
/********  About us page ************/
.header-aboutus{
    height: 65vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/marvelpiece.avif);
    background-position: center;
    background-size:cover ;
    text-align: center;
    
}
.header-aboutus h1{
    margin-top: 20px;
    
}

.navaboutus{
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
}

.navaboutus img{

    width: 150px;
}

.nav-linksaboutus{
    flex: 1;
    text-align: right;
}
.nav-linksaboutus ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-linksaboutus ul li a{
    color: #f8f8f8;
    text-decoration: none;
    font-size: 13px;
}
.nav-linksaboutus ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin:auto;
    transition: 0.5s;
}
.nav-linksaboutus ul li:hover::after{
    width: 100%;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    
    .nav-linksaboutus ul li{
        display: block;
    }
    .nav-linksaboutus{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right:-200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    .navaboutus .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-linksaboutus ul{
        padding: 30px;
    }

   
   

}
.section {
  border: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  padding: 12px 0px;
  margin-top: 50px;
  margin-left: 25px;
  margin-right: 25px;

}
.image{
    height: 50vh;
    width: 75%;
}
.paragraph {
  color: #555;
  display: flex;
  flex-direction: column;
  
}

.content {
  padding: 20px;
}

.title {
  font-size: 24px;
  color: #222;
  line-height: 24px;
}
.aboutushead{
    text-align: center;
}
.logoimage{
    height: 15vh;
    width: 180px;
}
.text-boxau{
    width: 90%;
    color:#fff;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-boxau h1{
    font-size: 35px;
}
.text-boxau h4{
    margin: 10px 0 40px;
    font-size: 14px ;
    color: #777;
}
.about-us{
   width: 80%;
   margin: auto;
   padding-top: 80px;
   padding-bottom: 50px; 
}
.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img{
    margin-top: 20px;
    image-resolution: flex;
    width: 100%;
}
.about-col h1{
    padding: 0;
}
.about-col p{
    padding: 15px 0 25px;
    font-size: 15px;
}

.testimonialsdev .fa{
    font-size: 25px;
    font-weight: 500;
}
.testimonialsdev-col:hover{
    box-shadow: 0 0 20px 0px;
 }
.testimonialsdev .fa-beer{
    font-size: 20px;
    font-weight: 500;
}
.testimonialsdev .fa-github-alt{
    font-size: 21px;
    font-weight: 700;
}
.testimonialsdev .fa-code{
    font-size: 21px;
    font-weight: 700;
}
.testimonialsdev .fa-paint-brush{
    font-size: 20px;
    font-weight: 700;
}

.testimonialsdev{
    width: 89%;
    margin: auto;
  
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    background-color: wheat;
    border-radius: 10vh;
 
 }
 .testimonialsdev-col{
     flex-basis: 44%;
     border-radius: 10px;
     margin-bottom: 5%;
     margin-top: 1px;
     width: 50%;
     text-align: left;
     background: #fff3f3;
     padding: 25px;
     cursor: pointer;
     display: flex;
 }
 .testimonialsdev img{
     height: 75px;
     margin-left: 5px;
     margin-right: 30px;
     border-radius: 50%;
 }
 .testimonialsdev p{
     padding: 0;
     font-size: 15px;
 }
 .testimonialsdev-col h3{
     margin-top: 15px;
     text-align: left;
 }
 .testimonialsdev-col .fa{
     color: navy;
 }
 @media(max-width:700px){
 
 .testimonialsdev img{
    
    
     margin-left: 0px;
     margin-right: 15px;
     border-radius: 50%;
 }
 .testimonialsdev-col {
    color: navy;
   
    margin-left: 21%;
}
}
@media(max-width:700px){
    .row{
        flex-direction: column;
        
    }
    .nav .fa{
        display: block; 
    }
    .testimonialsdev-col{
        flex-basis: 44%;
        border-radius: 10px;
        margin-bottom: 5%;
        margin-top: 1px;
        width: 50%;
        text-align: left;
        background: #fff3f3;
        padding: 25px;
        cursor: pointer;
        display: flex;
    }
    .testimonialsdev{
        width:auto;
        margin: auto;
        
        padding-top: 100px;
        padding-left: 50px;
        padding-right: 50px;
        text-align: center;
        background-color: wheat;
        border-radius: 10vh;
     
     }
 }
 
 /* Product Page */
 .header6{
    min-height: 10vh;
    width: 100%;
    
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Product_Page_images/HeaderWAllpaper.jpg);
    background-position:bottom;
    background-size:cover;
    background-repeat: no-repeat;
}


.side-menu{
    height:845.1px;
    width: 15%;
    font-size: 20px;
    float:left;
    z-index: 2;
    background-color:#ddd;
    display: block;
}
.side-menu ul{
    margin-left: 10px;  
     
}
.side-menu ul li{
 list-style-type:none;
 font-weight: bold;
 margin-top: 14px;   
 cursor: pointer;
}
/* Sidebar button icon color */
.side-menu ul li:hover{
    color: #f44336;
}
.side-menu ul li ul{
    display: none;
    z-index: 10;
    top: 77px;
}
.side-menu ul li:hover ul{
    display: inline-block;
    height:178px;
    margin-top: 7.6vh;
    margin-left: 3vh;
    padding: 0 100px 10px 10px;
    position: fixed;
    background: #ececec;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0   , 0.5);
}
/* color of category sidebar icons */
.side-menu .fa-child{
    font-size: 18px;
    color: blue;
}
.side-menu .fa-bolt{
    font-size: 20px;
    color: blue;
}
.side-menu .fa-book{
    font-size: 20px;
    color: blue;
}
/* Independent Footer for product us page */
.footer2{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer2 h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 800;
    margin-right: 50px;
}

.footer2 .fa-question-circle-o{
    font-size: 30px;
    color:  rgb(212, 32, 8);
}

@media(max-width: 800px){
    /* responsive sidebar*/
    .side-menu{
      width: 34%;
      z-index: 20;
      top:85px;
      position:fixed;
      font-size: 12px;
      display: block;
      
    }
    .side-menu ul li ul{
        margin-left: 31%;
    }

}

/* Category menu icon and color of icon*/
#menu-btn,#close-btn{
    font-size: 25px;
    margin: 10px;
    color: #f8f8f8;
    display: none;
    
}
#menu-btn
{
    display: block;
}

.slider{
    width: 85%;
    margin-left: 15%;
    padding: 0 10px;
    margin-top: 1%;
}
.carousel{
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
}
.carousel-indicators
{
    z-index: 1 !important;
}
@media(max-width: 800px){
    .slider{
        width: 95%;
        
        margin-left: 3%;
        padding: 0 10px;
        margin-top: 5%;
        border-radius: 20%;
    }
    
}
/* featured-categories */
.featured-categories{
    margin: 50px 0;
}
.featured-categories h2
{
    margin-top: 0vh;
    margin-left:80px;
    font-size: 26px;

}
.featured-categories .fa
{
    margin-top: 0;
    margin-left: 0vh;
    font-size: 20px;
}
.featured-categories .fa-star
{
    color: blue;
    margin-left: 0vh;
    font-size: 22px;
}
.featured-categories img
{
    width: 80%;
    padding: 20px 0;
    transition: 1s;
    cursor: pointer;
    height: 82%;

}

/***** Marvel figs (to be tested some bugs occur when injecting)******/
.marvel-Figures{
    background: blue;
    color: #fff;
    width: 180px;
    padding: 2px 10px;
    height: 60px;
    margin-bottom: 30px;
    display: flex;
}
.title-box{
    font-size: 24px;
}
.title-box::after{
    content: '';
    border-top: 40px solid blue;
    border-right: 50px soldier transparent;
    position: absolute;
    display: flex;
    margin-top: -4px ;
    margin-left: 170px;
}
.title-box h2{
    font-size: 24px;
}
.title-box ::after{
     content: '';
     border-top: 40px solid blue;
     border-right: 50px solid transparent;
     position: absolute;
     display: flex;
     margin-top: -4px;
     margin-left:   170px ;
}